@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --global-background: #f9f1f1;
    --background: #ffffff;
    --foreground: #0a0a0a;

    --muted: #e8e8e8;
    --muted-foreground: #828282;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --border: #e5e5e5;
    --input: #e5e5e5;

    --primary: #171717;
    --primary-foreground: #fafafa;

    --secondary: #f5f5f5;
    --secondary-foreground: #171717;

    --success: #26d19b;
    --success-foreground: #26d19b33;

    --accent: #f5f5f5;
    --accent-foreground: #171717;

    --destructive: #dc2626;
    --destructive-foreground: #dc262634;

    --ring: #0a0a0a;

    --radius: 0.5rem;

    --chart-1: #f28b82;
    --chart-2: #2d957a;
    --chart-3: #2a5c6a;
    --chart-4: #f7d560;
    --chart-5: #f9a66c;
  }

  .dark {
    --global-background: #f9f1f1;
    --background: #0a0a0a;
    --foreground: #fafafa;

    --muted: #2b2b2b;
    --muted-foreground: #9a9a9a;

    --popover: #0a0a0a;
    --popover-foreground: #fafafa;

    --card: #0a0a0a;
    --card-foreground: #fafafa;

    --border: #262626;
    --input: #262626;

    --primary: #fafafa;
    --primary-foreground: #171717;

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --success: #146d51;
    --success-foreground: #146d512c;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #7f1d1d33;

    --ring: #d4d4d4;

    --chart-1: #4a6bdf;
    --chart-2: #20b486;
    --chart-3: #f68b2c;
    --chart-4: #b84fe5;
    --chart-5: #e5457a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-global-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}